<div class="blog-header">
    <div class="container">
        <div class="blog-title">My Blog</div>
        <p class="lead blog-description">An example blog template built with bootstrap</p>
        <%= link_to 'Write a New Blog', new_blog_path if logged_in?(:site_admin) %>
    </div>
</div>