@import "bootstrap";
@import "jquery-ui";
@import "gritter";

@font-face {
  font-family: 'Lato';
  src:font-url('Lato-Regular.ttf');
}

@font-face {
  font-family: 'Roboto Slab';
  src:font-url('RobotoSlab-Regular.ttf');
}

body {
  min-height: 75rem; /* Can be removed; just added for demo purposes */
  font-family: 'Lato', sans-serif;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: 'Roboto Slab', serif;
}

.jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-color: #fff;
  }
  @media (min-width: 768px) {
    .jumbotron {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }
  
  .jumbotron p:last-child {
    margin-bottom: 0;
  }
  
  .jumbotron-heading {
    font-weight: 300;
  }
  
  .jumbotron .container {
    max-width: 40rem;
  }
  
  footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  
  footer p {
    margin-bottom: .25rem;
  }
  
/*
 * custom styles
*/
.portfolio-form {
    padding: 20px;
}

.portfolio-container {
    padding-top: 30px;
}